extends ~html-webpack-template-pug/layout.pug
 
block head
  link(rel='shortcut icon', href='assets/icons/favicon.png', type='image/x-icon') 

block content
  div(class='layout')
    nav(class='leftNavbar')
    
    main(class='main-container')
    
    footer(class='footer')
        h2 Footer